{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-12">{{ form_row(form.nom) }}</div>
        <div class="col-6">{{ form_row(form.rue) }}</div>
        <div class="col-6">{{ form_row(form.Ville) }}</div>
        <div class="col-6">{{ form_row(form.latitude) }}</div>
        <div class="col-6">{{ form_row(form.longitude) }}</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary mb-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
