{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="displayedFLex" style="padding-top: 50px">
        <div class="boxShadowRounded displayedFLex" style="width: 500px;">
            <form method="post" class="form-signin" style="width: 80%; padding-top: 30px">
                <div class="text-center mb-4">
                    <img class="mb-4" src="{{ asset('images/padelLogo.png') }}" alt="" width="100" height="100">
                </div>

                <div class="form-label-group" style="margin-bottom: 20px">
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                </div>

                <div class="form-label-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="motDePasse" id="inputPassword" class="form-control" placeholder="Password" required="">
                </div>

                <div class="checkbox mb-3" style="margin-top: 15px">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" name="_remember_me" checked>
                        Se souvenir de moi
                    </label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                <p class="mt-5 mb-3 text-muted text-center">© 2019-2020</p>
            </form>
        </div>
    </div>
{% endblock %}
