{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Liste des utilisateurs</h1>

    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Administrateur</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.mail }}</td>
                <td>{{ participant.administrateur ? 'Oui' : 'Non' }}</td>
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('participant_show', {'id': participant.id}) }}">voir</a>
                    <a class="btn btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('participant_new') }}">Ajouter un utilisateur</a>
</div>
{% endblock %}
