{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{participant.pseudo}}</h1>
        </div>
        {% if participant.filename  %}
        <div class="col-2">
            <img src= "{{ vich_uploader_asset(participant, 'imageFile') | imagine_filter('thumb') }}" class="img-fluid" alt="Photo de profil" />
        </div>
    {% else %}
        <img src= "{{ '/images/participant/avatar_defaut.jpg'  | imagine_filter('thumb') }}" class="img-fluid" alt="Photo de profil" />
    {% endif %}
    <div class="col-10 text-center">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Prenom</td>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <td>Campus</td>
                <td>{{ participant.campus.nom }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary mt-2 mb-2" href="{{ path('participant_edit_me') }}">Modifier</a>
    </div>

    </div>

</div>
{% endblock %}
