{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin="" />{% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<div class="col-10 col-sm-5">
			<h1 class="text-center">Sortie</h1>
			<table class="table">
				<tbody>
					<tr>
						<th>Nom</th>
						<td>{{ sortie.nom }}</td>
					</tr>
					<tr>
						<th>DateHeureDebut</th>
						<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>DateLimiteInscription</th>
						<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i:s') : '' }}
						</td>
					</tr>
					<tr>
						<th>NbInscriptionMax</th>
						<td>{{ sortie.nbInscriptionMax }}</td>
					</tr>
					<tr>
						<th>Duree</th>
						<td>{{ sortie.duree }}
							heures</td>
					</tr>
					<tr>
						<th>InfosSortie</th>
						<td>{{ sortie.infosSortie }}</td>
					</tr>
				</tbody>
			</table>

			<table class="table">
				<tbody>
					<tr>
						<th>Campus</th>
						<td>{{ sortie.campus.nom }}</td>
					</tr>
					<tr>
						<th>Lieu</th>
						<td>{{ sortie.lieu.nom }}</td>
					</tr>
					<tr>
						<th>Rue</th>
						<td>{{ sortie.lieu.rue }}
						</td>
					</tr>
					<tr>
						<th>Code postal</th>
						<td>{{ sortie.lieu.Ville.codePostal }}</td>
					</tr>
					<tr>
						<th>Latitude</th>
						<td>{{ sortie.lieu.latitude }}</td>
					</tr>
					<tr>
						<th>Longitude</th>
						<td>{{ sortie.lieu.longitude }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-10 col-sm-5">
			<h1 style="text-align: center;">
				Liste des participants inscrits
			</h1>

			<div class="displayedFLex">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Pseudo</th>
							<th scope="col">Nom</th>
						</tr>
					</thead>
					<tbody>

						{% for sortie in sortie.inscriptions %}
						<tr>
							<th>
								<a href="{{ path('participant_profil', {'id': sortie.participant.id}) }}">
									{{sortie.participant.nom}}</a>
							</th>
							<th>
								<a href="{{ path('participant_profil', {'id': sortie.participant.id}) }}">
									{{sortie.participant.prenom}}
									{{sortie.participant.nom|upper}}</a>
							</th>
						</tr>
						{% endfor %}
					</tbody>
					</tbody>
				</table>
			</div>
			<div id="map" style="height: 400px;"></div>
		</div>
	</div>
	
</div>
<div id="dataMap" data-lat="{{ sortie.lieu.latitude }}" data-lng="{{ sortie.lieu.longitude }}" data-sortie="{{ sortie.nom }}">
	{% endblock %}

	{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
		integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
		crossorigin=""></script>
	<script type="text/javascript">
		// On initialise la latitude et la longitude de Paris (centre de la carte)
		var lat = document.getElementById("dataMap").dataset.lat;
		var lon = document.getElementById("dataMap").dataset.lng;
		var sortieNom = document.getElementById("dataMap").dataset.sortie;
		var macarte = null;
		// Fonction d'initialisation de la carte
		function initMap() {
			// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
			macarte = L.map('map').setView([lat, lon], 14);
			// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
			L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
				// Il est toujours bien de laisser le lien vers la source des données
				attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
				minZoom: 1,
				maxZoom: 20
			}).addTo(macarte);
			var marker = L.marker([lat, lon]).addTo(macarte);
			marker.bindPopup(sortieNom);
		}
		window.onload = function () {
			// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
			initMap();
		};
	</script>
	{% endblock %}
