{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-6">
            <h1>Ajouter une sortie</h1>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-12">{{ form_row(form.nom) }}</div>
                <div class="col-6">{{ form_row(form.dateHeureDebut) }}</div>
                <div class="col-6">{{ form_row(form.duree) }}</div>
                <div class="col-6">{{ form_row(form.dateLimiteInscription) }}</div>
                <div class="col-6">{{ form_row(form.nbInscriptionMax) }}</div>
                <div class="col-12">{{ form_row(form.infosSortie) }}</div>
                <div class="col-4">{{ form_row(form.etat) }}</div>
                <div class="col-4">{{ form_row(form.Lieu) }}</div>
                <div class="col-4">{{ form_row(form.Campus) }}</div>
            </div>

            {{ form_widget(form) }}
            <button class="btn btn-primary mb-2">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}


            <a href="{{ path('home') }}">retour à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}