{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h1>Ville</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ ville.nom }}</td>
                    </tr>
                    <tr>
                        <th>CodePostal</th>
                        <td>{{ ville.codePostal }}</td>
                    </tr>
                </tbody>
            </table>



            <a class="btn btn-primary mb-2" href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>

            {{ include('ville/_delete_form.html.twig') }}

            <a href="{{ path('ville_index') }}">retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}