{% extends "base.html.twig" %}
{% block title %} Administration | {{ parent() }}{% endblock %}
{% block body %}
<div class="container jumbotron">
    <div class="row">
        <h1 class="col-12 text-center mt-2 mb-4" > <img src="{{ asset('images/padelLogo.png') }}" style="width: 5%;"></img> Administration</h1>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey ">
    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-dark-blue">            
                <i class="icon-2x color-light fa fa-user"></i>
                <h2 class="heading-md">{{ userActif|length }}</h2>
                <p>utilisateurs actifs</p>                        
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-dark-blue">            
                <i class="icon-2x color-light fa fa-beer"></i>
                <h2 class="heading-md">{{ sortieDuMois|length }}</h2>
                <p>sorties ce mois</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="servive-block servive-block-dark-blue">            
                <i class="icon-2x color-light fa fa-list-ol"></i>
                <h2 class="heading-md">{{ inscriptionDuMois|length }}</h2>
                <p>inscription aux sorties ce mois</p>
            </div>
        </div>
    </div>
</div>


        <div class="col-xl-6 col-md-6 mb-6">
            <a class="link" href="{{ path('participant_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des utilisateurs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6">
            <a class="link" href="{{ path('sortie_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des sorties
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6 mt-2">
            <a class="link" href="{{ path('ville_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des villes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6 mt-2">
            <a class="link" href="{{ path('lieu_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des lieux
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6 mt-2">
            <a class="link" href="{{ path('campus_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des campus
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6 mt-2">
            <a class="link" href="{{ path('etat_index') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">Gestion des états de sortie
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 mb-6 mt-2">
            <a class="link" href="{{ path('admin_import') }}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-success text-uppercase mb-1">import utilisateur par CSV
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
</div>
</div>

{% endblock %}