<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} Sortir - Paddle! {% endblock %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('styles/all.css') }}"> {% block stylesheets %}{% endblock %}
		</head>

		<body>
			<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				<img class="my-0 mr-md-auto font-weight-normal" src="{{ asset('images/padelLogo.png') }}" alt="padelLogo" width="56" height="56">
				<nav class="my-2 my-md-0 mr-md-3">
					<a class="p-2 text-dark" href="#">Accueil</a>
					{% if is_granted('ROLE_ADMIN') %}
                    <a class="p-2 text-dark" href="{{ path('ville_index') }}">Villes</a>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
                    <a class="p-2 text-dark" href="{{ path('campus_index') }}">Campus</a>
                    {% endif %}
					<a class="p-2 text-dark" href="{{ path('participant_show_me') }}">Mon profil</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="p-2 text-dark" href="{{ path('admin') }}">Administration</a>
                    {% endif %}
                    {% if app.user %}
					    <a class="p-2 text-dark" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% endif %}
				</nav>
			</div>

			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}

			<footer class="footer bg-light border-top container-fluid" style="position: absolute; padding-bottom: 10px; padding-top: 10px; margin-top: 50px; bottom:0; ">
				<div class="text-center text-dark">&copy
					{{ "now" | date("Y") }}
					- Théo Barrier - Maxime Varron - Anthony Aram - Symfony project with ENI</div>
			</footer>

		</body>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</html>
